.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}




* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 2rem 2rem;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-height: 160px;
    color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.loadingContainer{
    display: flex;
    flex-direction: column;
}