* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 2rem 2rem;
    align-items: center;
    max-width: 500px;
    width: 300px;
    height: auto;
    color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
}

.title {
    font-size: 50px;
}


.btn9 {
    margin: 15px;
    /*width: 70px;*/
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    color: #330867;
    box-shadow: 0 0 10px #eee;
    border-radius: 5px;
    border: none;
    display: block;
}

.btn9:hover {
    /*width: 70px;*/
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    color: magenta;
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
}

.btn_block {
    /*border: #330867 solid 3px;*/
    width: 180px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    /*background-color: #16a085;*/
}

.title {
    display: flex;
    justify-content: space-between;
}
